In [3]:
import warnings
warnings.simplefilter('ignore')

import pandas as pd

df = pd.read_csv('s3://ia340-2024fall-2-6869593/Air_Quality.csv)
df.tail()

,Unique ID,Indicator ID,Name,Measure,Measure Info,Geo Type Name,Geo Join ID,Geo Place Name,Time Period,Start_Date,Data Value,Message
18020,816914,643,Annual vehicle miles traveled,Million miles,per square mile,CD,503.0,Tottenville and Great Kills (CD3),2019,01/01/2019,12.9,NaN
18021,816913,643,Annual vehicle miles traveled,Million miles,per square mile,CD,503.0,Tottenville and Great Kills (CD3),2010,01/01/2010,14.7,NaN
18022,816872,643,Annual vehicle miles traveled,Million miles,per square mile,UHF42,208.0,Canarsie - Flatlands,2010,01/01/2010,43.4,NaN
18023,816832,643,Annual vehicle miles traveled,Million miles,per square mile,UHF42,407.0,Southwest Queens,2010,01/01/2010,65.8,NaN
18024,151658,643,Annual vehicle miles traveled,Million miles,per square mile,UHF42,408.0,Jamaica,2005,01/01/2005,41.0,NaN

In [6]:
df['Name']

0        Boiler Emissions- Total SO2 Emissions
1        Boiler Emissions- Total SO2 Emissions
2                      Fine particles (PM 2.5)
3                      Fine particles (PM 2.5)
4                      Fine particles (PM 2.5)
                         ...
18020            Annual vehicle miles traveled
18021            Annual vehicle miles traveled
18022            Annual vehicle miles traveled
18023            Annual vehicle miles traveled
18024            Annual vehicle miles traveled
Name: Name, Length: 18025, dtype: object

In [4]:
df.describe

<bound method NDFrame.describe of        Unique ID  Indicator ID                                   Name  \
0         179772           640  Boiler Emissions- Total SO2 Emissions
1         179785           640  Boiler Emissions- Total SO2 Emissions
2         178540           365                Fine particles (PM 2.5)
3         178561           365                Fine particles (PM 2.5)
4         823217           365                Fine particles (PM 2.5)
...          ...           ...                                    ...
18020     816914           643          Annual vehicle miles traveled
18021     816913           643          Annual vehicle miles traveled
18022     816872           643          Annual vehicle miles traveled
18023     816832           643          Annual vehicle miles traveled
18024     151658           643          Annual vehicle miles traveled

              Measure     Measure Info Geo Type Name  Geo Join ID  \
0      Number per km2           number         UHF42        409.0
1      Number per km2           number         UHF42        209.0
2                Mean           mcg/m3         UHF42        209.0
3                Mean           mcg/m3         UHF42        409.0
4                Mean           mcg/m3         UHF42        409.0
...               ...              ...           ...          ...
18020   Million miles  per square mile            CD        503.0
18021   Million miles  per square mile            CD        503.0
18022   Million miles  per square mile         UHF42        208.0
18023   Million miles  per square mile         UHF42        407.0
18024   Million miles  per square mile         UHF42        408.0

                          Geo Place Name          Time Period  Start_Date  \
0                       Southeast Queens                 2015  01/01/2015
1                Bensonhurst - Bay Ridge                 2015  01/01/2015
2                Bensonhurst - Bay Ridge  Annual Average 2012  12/01/2011
3                       Southeast Queens  Annual Average 2012  12/01/2011
4                       Southeast Queens          Summer 2022  06/01/2022
...                                  ...                  ...         ...
18020  Tottenville and Great Kills (CD3)                 2019  01/01/2019
18021  Tottenville and Great Kills (CD3)                 2010  01/01/2010
18022               Canarsie - Flatlands                 2010  01/01/2010
18023                   Southwest Queens                 2010  01/01/2010
18024                            Jamaica                 2005  01/01/2005

       Data Value  Message
0             0.3      NaN
1             1.2      NaN
2             8.6      NaN
3             8.0      NaN
4             6.1      NaN
...           ...      ...
18020        12.9      NaN
18021        14.7      NaN
18022        43.4      NaN
18023        65.8      NaN
18024        41.0      NaN

[18025 rows x 12 columns]>

In [18]:
df.isnull().sum()

Unique ID         0
Indicator ID      0
Name              0
Measure           0
Measure Info      0
Geo Type Name     0
Geo Join ID       0
Geo Place Name    0
Time Period       0
Start_Date        0
Data Value        0
Message           0
dtype: int64

In [8]:
df.sort_values('Measure')

,Unique ID,Indicator ID,Name,Measure,Measure Info,Geo Type Name,Geo Join ID,Geo Place Name,Time Period,Start_Date,Data Value,Message
12816,130772,647,Outdoor Air Toxics - Formaldehyde,Annual average concentration,Âµg/m3,UHF42,502.0,Stapleton - St. George,2005,01/01/2005,2.3,NaN
17148,227609,646,Outdoor Air Toxics - Benzene,Annual average concentration,Âµg/m3,CD,318.0,Flatlands and Canarsie (CD18),2011,01/01/2011,1.0,NaN
10821,315670,647,Outdoor Air Toxics - Formaldehyde,Annual average concentration,Âµg/m3,UHF42,405.0,Ridgewood - Forest Hills,2011,01/01/2011,2.1,NaN
10822,130735,647,Outdoor Air Toxics - Formaldehyde,Annual average concentration,Âµg/m3,UHF42,103.0,Fordham - Bronx Pk,2005,01/01/2005,3.2,NaN
10823,130773,647,Outdoor Air Toxics - Formaldehyde,Annual average concentration,Âµg/m3,UHF42,503.0,Willowbrook,2005,01/01/2005,2.3,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
12534,179813,640,Boiler Emissions- Total SO2 Emissions,Number per km2,number,Borough,5.0,Staten Island,2015,01/01/2015,0.1,NaN
12535,179805,640,Boiler Emissions- Total SO2 Emissions,Number per km2,number,UHF42,304.0,Upper West Side,2015,01/01/2015,50.9,NaN
12536,179778,640,Boiler Emissions- Total SO2 Emissions,Number per km2,number,UHF42,204.0,East New York,2015,01/01/2015,0.1,NaN
7819,130440,640,Boiler Emissions- Total SO2 Emissions,Number per km2,number,Borough,1.0,Bronx,2013,01/01/2013,10.3,NaN
0,179772,640,Boiler Emissions- Total SO2 Emissions,Number per km2,number,UHF42,409.0,Southeast Queens,2015,01/01/2015,0.3,NaN

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18025 entries, 0 to 18024
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unique ID       18025 non-null  int64
 1   Indicator ID    18025 non-null  int64
 2   Name            18025 non-null  object
 3   Measure         18025 non-null  object
 4   Measure Info    18025 non-null  object
 5   Geo Type Name   18025 non-null  object
 6   Geo Join ID     18016 non-null  float64
 7   Geo Place Name  18016 non-null  object
 8   Time Period     18025 non-null  object
 9   Start_Date      18025 non-null  object
 10  Data Value      18025 non-null  float64
 11  Message         0 non-null      float64
dtypes: float64(3), int64(2), object(7)
memory usage: 1.7+ MB

In [14]:
df.shape

(0, 12)